
<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href='/static/style/file.css'/>
</head>


<body>
<br><br><br><br><br><br><br>
<center><a href="list/"><button class="dropbtn" id="ar">طلب جديد</button></a></center>
<br><center><a href="{% url 'kitchen' %}"><button class="dropbtn" id="ar">المطبخ</button></a></center>
<br><center><a href="{% url 'order' %}"><button class="dropbtn" id="ar">مدير الطلبات</button></a></center>
<br><center><a href="{% url 'cash' %}"><button class="dropbtn" id="ar">تصفية</button></a></center>

</body>
</html>

