<!DOCTYPE html>
<html lang="en">
<head>
   <meta http-equiv="refresh" content="5">

    <style>

table {
    border-collapse: 3;
    border: 2px solid black;
    width: 20%;
}

th, td {
    text-align: center;
    padding: 15px;


}
tr:hover {background-color: #f5f5f5;}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
</style>
    <meta charset="UTF-8">
    <title>Contol Order</title>
</head>
<body>

<p>Order N:  {{ord1}}        </p>



<div><table>
  <tr>
    <th>Item</th>
    <th>Count</th>
    <th>Value</th>

     </tr>
{% for print in print %}
  <tr>

    <td>{{print.product_id.name}}</td>

    <td>{{print.count}}</td>

     <td>{{print.value}}</td>
  </tr>


{% endfor %}

</table>
    <p>Total: {{ord.value}} SR</p>
</div>
<p>Restaurant : {{inf.name}}</p>
<p>Tel : {{inf.phone}}</p>
<p>Add : {{inf.address}}</p>

<a href="/sel/"><button onclick="myFunction()" id="m">Print</button></a>


<script>
function myFunction() {
    var x = document.getElementById("m");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }

    window.print();
}
</script>

</body>
</html>